$titlefont: 'Black Han Sans', sans-serif;
$subfont: 'Source Sans Pro', sans-serif;
$darkC: #00010F;
$midC: #001920;
$lightC: #002937;
$alttextC: #F0F2F0;
$mainPink: #D82668;

body 
    color: $alttextC;
    font-family: $subfont;
    background-color: #A60531;
    background-image: url("bg/hauntedhouse.jpg")
    

h1
    font-family: $titlefont;
    color: $mainPink;

.navbar
    background-color: $darkC;

.mainArea
    
    height: 100vh;
    background-color: $lightC;
    
.gameList
    background-color: $midC;
    height: 100vh;
#gametag 
    text-align: center;
    color: white;
.gameName
    font-family: $subfont;
    font-size: 30pt;
li 
    margin: 0 auto;
   

ul 
    list-style: none;
    margin: 0;
    padding: 0;

.sidebuttons
    text-align: center;
#subtext 
    margin-left: 20px;

.centerArea 
    padding: 20px 60px 0px 60px; 


.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited,  .btn-border
    background-color: $midC;
    border: none;
    color: $alttextC;

