$titlefont: 'Black Han Sans', sans-serif;
$subfont: 'Source Sans Pro', sans-serif;
$darkC: #00010F;
$midC: #001920;
$lightC: #002937;
$alttextC: #F0F2F0;
$mainPink: #D82668;


.darkText 
    color: $darkC;
body 
    color: $alttextC;
    font-family: $subfont;
    background-color: #A60531;
    background-image: url("bg/card2.jpg")
    
    
h1
    font-family: $titlefont;
    color: $mainPink;

.navbar
    background-color: $darkC;

.mainArea
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
 
    background-color: $lightC;

.gameArea
    //fix this to match the hight of the card panel
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    
    background-color: $midC;

.imgBoyCol
    background-color: #A60531;
    background-image: url("bg/fort.jpg")
    background-position-x: 90%;
    background-size: cover;
    min-height: 100vh;
    background-color: $midC;
    

.sidebar
    background-color: $midC;
    min-height: 100%;
    display: flex;
    flex-wrap: wrap;
    max-width: 1000px;

#gametag 
    margin-top: 20px;
    text-align: center;
    color: white;
   
#infotag 
    margin-top: 40px;
    text-align: center;
    color: white;

.gameName
    font-size: 30pt;
li 
    margin: 0 auto;
   
ul 
    list-style: none;
    margin: 0;
    padding: 0;

#subtext 
    line-height: 1;

.centerArea 
    padding: 20px 60px 0px 60px; 


.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited,  .btn-border
    background-color: $midC;
    border: none;
    color: $alttextC;

.botbar
    height: 100px;
    background-color: $darkC;

#gamebutton1, #gamebutton2
    
    text-align: center;
    margin: 0 auto;
    padding: 0;

#howButton 
    margin-top: 10px;

.sidebuttons
    text-align: center;
//topbar buttons
#signinButton, #signoutButton
    

.nav-link
    color: white;
//nav link colors
a.nav-link 
    color: #FFFFFF !important
a.nav-link:hover
     color: #F00F00;
     text-decoration: none !important
//background images

    
    
.centerArea
    position: relative;
    z-index: 1;
.centerArea::After
    content: "";
    position: absolute;
    top: 0; 
    left: 0;
    width: 100%; 
    height: 100%;  
    opacity: .1; 
    z-index: -100;
    background: url(bg/slaybg.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;


//MODAL FIXES
.modal-backdrop 
  z-index: -1;



body 
  padding-right: 0px !important


.modal-open 
  overflow-y: scroll;


//cards
.gameCard
    background-color: $midC;
    margin-top: 20px;
    margin-bottom: 20px;

.chal1name,.chal1dif,.chal2name,.chal2dif, .chal3name,.chal3dif
    float: right
#roll1,#cardIcon,#roll2,#roll3
    float: left
#roll1, #roll2, #roll3
    margin-left: 10px;
.chal1dif,.chal2dif, .chal3dif
   
    padding-right: 8px;
.chal1Text, .chal2Text, .chal3Text
    padding: 4px;
    text-align: center;
///SNACKBAR
.snackBar
    color: $mainPink;
    visibility: hidden;
    margin: 0 auto;
    border-radius: 3px;
    position: fixed;
    left: 35%
    text-align: center;
    background-color: white;
    top: 100px
    width: 500px;
    height: 50px;
    z-index: 100;
//IOS DEVICES
@media screen and (max-width: 700px)
    .gameName
        font-size: 20pt;

    #infotag 
        font-size: 10pt;
    #gametag 
        font-size: 10pt;
    #gamebutton1, #gamebutton2
        font-size: 10pt;

    #subtext 
        font-size: 10pt;
    .mainArea
      
        background-color: $lightC;

    .gameList
        background-color: $midC;
       
        

    .sidebar
        background-color: $midC;
    